@import url(https://fonts.google.com/specimen/Poppins?query=Poppins);

:root{
    --primary-color: #c7a17a;
    --background-color: #f9f5f0;
    --dark-color: #151515;
}

html{
    font-size: 62.5%;
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* UTILIDADES */
.container{
    max-width: 120rem;
    margin: 0 auto;
}

/*HERO */
.container-hero{
    background-color: var(--background-color);
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.customer-support{
    display: flex;
    align-items: center;
    gap: 2rem;
}

.customer-support{
    font-size: .5rem;
}

.content-customer-support{
    display: flex;
    flex-direction: column; 
}

.container-logo{
    display: flex;
    align-items: center;
    gap: .5rem;
}

.container-logo i{
    font-size: 3rem;
}

.container-logo h1 a{
    text-decoration: none;
    color: #000;
    font-size: 3rem;
    text-transform: uppercase;
    letter-spacing: -1px;
}



